params {
    workdir = "${baseDir}/results"
    log_file = "${baseDir}/results/extract_sra_ids.log"
    max_download = '30G'
    sras_id_file = null
}

process {
    withName: DOWNLOADSRA {
        container = 'ncbi/sra-tools:3.0.0'
    }

    withName: CONVERT_FASTQ {
        container = 'ncbi/sra-tools:3.0.0'
    }
}

docker.enabled = true

profiles {
    test {
        params.sras_id_file = "${baseDir}/data/test/sras_ids_test.csv"
    }
}